* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;


}

div {
    margin-bottom: 10px;
}

input,
textarea {
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.381);
    border-radius: 5px;
}

textarea {
    height: 80px;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.box {
    background-color: rgba(0, 0, 255, 0.181);
    height: 770px;
    width: 500px;
    padding: 20px;
    margin: 1% 30%;
    border-radius: 5px;
    box-shadow: 2px 2px 7px 0px #00000063;



}

form div {

    display: flex;
    flex-direction: column;

}

.head {
    padding-bottom: 10px;
}

form {
    margin-top: 20px;
}

button {
    height: 40px;
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.381);
    border-radius: 10px;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c1 {
    display: flex;
    flex-direction: row;
}

.checkbox input {
    height: 15px;
}
.c1 input{
    margin-right:10px ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}